.row {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.info,
.note,
.usage,
.side_effect {
  margin: 3% 10%;
  padding: 2% 5%;
  background-color: white;
  border-radius: 12px;
  white-space: pre-line;
}
